# @<scope>: registry = <path to your Azure artifacts devOps feed>                       
# always-auth=true

#Then, run vsts-npm-auth to get an Azure Artifacts token added to your user-level .npmrc file
#vsts-npm-auth -config .npmrc

#Note: You don't need to do this every time. npm will give you a 401 Unauthorized error when you need to run it again.